.features-section {
  background-color: $primary-background-color;
  padding-top: 94px;
  padding-bottom: 94px;
  font-size: 14px;
  text-align: left;
}
.features-section ul {
  display: flex;
  margin: 0 -15px;
}
.features-section h3 {
  color: $primary-text-color;
  font-weight: 700;
  line-height: 1.17;
  margin-bottom: 10px;
  margin-top: 0;
  width: 270px;
}
.features-section p {
  color: $additional-text-color;
  font-weight: 400;
  line-height: 1.714;
  margin-bottom: 0;
}
