.features-section li {
  margin: 0 15px;
  &::before {
    display: block;
    content: "";
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center;
  }
  &:nth-child(1)::before {
    background-image: url(../images/antenna.svg);
  }
  &:nth-child(2)::before {
    background-image: url(../images/clock.svg);
  }
  &:nth-child(3)::before {
    background-image: url(../images/diagram.svg);
  }
  &:last-child::before {
    background-image: url(../images/astronaut.svg);
  }
}
