.team-section {
  background-color: $team-background-color;

  color: $primary-text-color;
  font-size: 16px;
  text-align: center;
  line-height: 1.17;
  padding-top: 94px;
  padding-bottom: 94px;
  h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    color: var(--primary-text-color);
    margin: 0;
  }
  h3 {
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  span {
    font-weight: 400;
    color: var(--additional-text-color);
    margin-bottom: 16px;
  }
  .team {
    display: flex;
    margin: 50px -15px 0;
  }
}
